/* CSS DOCUMENT */

body {
  font-family: sans-serif;
  background-color: rgb(245, 246, 247);
}

h1 {
  font-family: serif;
  font-style: bold;
  font-size: 4em;
  color: rgb(89, 120, 150);
}

h2 {
  font-family: serif;
  font-size: 1.5em;
  background-color: rgb(104, 158, 176);
  color: rgb(247, 247, 247);
  padding: 0.3em;
  text-align: center;
}

h3 {
  font-family: serif;
  text-transform: uppercase;
  text-align: center;
}

h4{
  font-size: 1em;
  text-align: center;
}

p {
    font-family: sans-serif;
    margin: 1em;
    text-align: center;
}

li {
    list-style: none;
}


.menuText {
  background-color: rgb(104, 158, 176);
  color: rgb(247, 247, 247);
  padding: 0.3em;
  text-align: center;
}

.descriptor {
    color: rgb(204, 204, 204);
}

.price {
    padding-left: 2em;
    font-style: italic;
    color: rgb(245, 198, 110);
}
