/* CSS DOCUMENT */

body {
  background-color: rgb(245, 246, 247);
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: serif;
  font-weight: bold;
  font-size: 3em;
  color: rgb(89, 120, 150);
}

h2 {
  text-align: center;
  font-family: serif;
  font-size: 1.5em;
  color: rgb(94, 96, 122);
}

.menuText {
  background-color: rgb(104, 158, 176);
  color: rgb(247, 247, 247);
  padding: 0.3em;
}

h3 {
    background-color: #ffffff;
    padding: 0.5em 1em 0.5em 1em;
    text-transform: uppercase;
}

h4 {
    color: rgb(0, 58, 125);
}

.descriptor {
    padding-left: 2em;
    color: rgb(122, 134, 158);
}

.price {
    padding-left: 2em;
    color: rgb(103, 136, 201);
}

li {
    list-style: none;
}
