/*CSS DOCUMENT*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;} /*My edited version of the Eric Meyer’s reset tool. Feel free to keep it or delete it. */

@import url("https://use.typekit.net/isn7rmu.css");


div.container {
     max-width: 50em;
     margin: auto;
}
 main {
     display: grid;
     grid-template-columns:50% auto;
}
 body {
     font-family: "sofia-pro", sans-serif;
}
 header {
     padding: 2em 1em 0em 2em;
     text-align: left;
}
 h1 {
     font-family: "cardo", serif;
     font-style: bold;
     color: rgb(113, 173, 173);
}
 h2 {
     font-family: "sofia-pro", sans-serif;
     font-size: 1em;
     color: rgb(72, 73, 74);
     text-transform: uppercase;
     padding-top: 0.5em;
}
 h3 {
     font-family: "cardo", serif;
     font-style: bold;
     font-size: 1.5em;
     border-bottom: double rgb(159, 188, 199);
}
 figure {
     grid-template-columns: 3fr 1fr;
     grid-template-rows: 1fr;
    /* background-color: rgb(119, 135, 135); */
     padding: 0.5em;
     margin: 1.5em;
     display: grid;
}
 img {
     width: 100%;
    /*Please leave this line.*/
}
 figcaption {
     padding: 1em;
     color: #fafcff;
     background-color: rgb(119, 135, 135);
     font-family: "sofia-pro", sans-serif;
     font-style: italic;
     font-size: 0.9em;
}
 .ingredients {
     margin: 1.5em;
     padding: 0.5em;
}
 .ingredients ul {
     list-style: none;
     padding: 0;
}
 .ingredients li {
     margin: 1em auto;
}
 .directions {
     margin: 1.5em;
     padding: 0.5em;
}
 .directions li {
     margin: 0.7em auto;
     padding: 0.5em;
}
 .directions ol {
     padding: 0em 0em 1em 1em;
}
 footer {
     text-align: center;
     padding: 1em;
     color: rgb(247, 247, 247);
     background-color: rgb(120, 175, 194);
    margin: 0em 2em 0em 2em;
